# ref: https://fabianlee.org/2017/05/21/golang-running-a-go-binary-as-a-systemd-service-on-ubuntu-16-04/
[Unit]
Description=AppsCode Offline License Server
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

# Env Vars
# Environment=MG_API_KEY=

WorkingDirectory=/root
ExecStart=/usr/local/bin/registry-redirect run --ssl

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/registry-redirect
ExecStartPre=/bin/chown syslog:adm /var/log/registry-redirect
ExecStartPre=/bin/chmod 755 /var/log/registry-redirect
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=registry-redirect

[Install]
WantedBy=multi-user.target
